<h1>List of shows you've finished</h1>

    <table>
        <tr>
            <th>Show</th> 
            <th>Date</th> 
            <th>ID</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% @shows.each do |show|%>
        <tr>
            
            <td><%= show.title.gsub(" ", "-")%></td>
            <td><%= show.date.to_s.gsub(" ", "-")%></td>
            <td><%= show.id %></td>
            <td> <form method="post" action="/shows/<%=show.id%>">
                    <input id="hidden" type="hidden" name="_method" value="PATCH">
                    <input type="submit" value="Edit">
                </form></td>
            <td> <form method="post" action="/shows/<%=show.id%>/delete">
                    <input id="hidden" type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Delete Show">
                </form>    
            </td>
               
            <% end %>
        </tr>

    </table>


