<h1>List of shows you've finished</h1>

    <table>
        <tr>
            <th>Show</th> 
            <th>Date</th> 
            <th>ID</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% @shows = Show.all %>
        
        <% @shows.each do |tv|%>
        <tr>
            
            <td><%= tv.title%></td>
            <td><%= tv.date.to_s%></td>
            <td><%= tv.id %></td>
           
            <td> <form action="/shows/<%=tv.id%>/edit" method="POST">
                    <input id="hidden" type="hidden" name="_method" value="PATCH">
                    <input type="submit" value="Edit">
                </form></td>
            <td> <form action="/shows/<%=tv.id%>/delete" method="POST">
                    <input id="hidden" type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Delete Show">
                </form>    
            </td>
               
            <% end %>
        </tr>

    </table>


